@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-pointer
{
    cursor: pointer;
}

.leaflet-container
{
    z-index: 1;
}

.required:after {
    content:"*";
}

.inactiveMap {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width: 767px) {
    .leaflet-right
    {
        top: auto !important;
        bottom: 20px
    }

}